FIGO_IMX219FIG_LITEON=/odm/etc/camera/multidenoise/imx219/
FIGO_HI843FIG_OFILM=/odm/etc/camera/multidenoise/hi843/
FIGO_OV8856FIG_SUNNY=/odm/etc/camera/multidenoise/ov8856/
FIGO_HI1333FIG_SUNNY=/odm/etc/camera/multidenoise/hi1333_figo/
FIGO_OV13855FIG_LITEON=/odm/etc/camera/multidenoise/ov13855_figo/
FIGO_IMX258FIG_OFILM=/odm/etc/camera/multidenoise/imx258_figo/